<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Intersect_Admin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Intersect_Admin.My.MySettings>
      <setting name="authorized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="token" serializeAs="String">
        <value />
      </setting>
      <setting name="refreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="maxonline" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="banDurationMax" serializeAs="String">
        <value>99999</value>
      </setting>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>5400</value>
      </setting>
      <setting name="maxstat" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="maxbank" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="maxinventory" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="maxspell" serializeAs="String">
        <value>35</value>
      </setting>
    </Intersect_Admin.My.MySettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>